---
---

<section id="hero" class="opacity-0 max-md:px-4 pb-10 relative left-1/2 -translate-x-1/2 w-[100dvw] max-w-[1250px] h-[calc(100dvh_-_44px)] md:h-[calc(100dvh_-_56px)] grid grid-cols-1 md:grid-cols-[250px_1fr] grid-rows-[1fr_auto_auto] gap-x-[100px] items-center md:items-end">
    <span class="row-span-10"></span>
    <h1 class="px-0 text-7xl tracking-tighter pb-3 -translate-x-1">Kushal Kumar <span class="hidden">{" "}Software Developer</span></h1>
    <a class="flex items-center justify-start gap-2 text-xl opacity-30 hover:opacity-100 cursor-pointer transition-all duration-300" href="/cv/CV-KushalKumarSaha.pdf" download="CV-KushalKumarSaha.pdf"><p>Download CV</p> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg></a>
</section>