---
import { type SidebarDataLayoutType } from "../defaults/types"
import SidebarLink from "./utils/SidebarLink.astro"
const sidebarDataLayout: SidebarDataLayoutType = {
    top: [
        { title:"About",    svg:"about",    link:"#about" },
        { title:"Career",   svg:"career",   link:"#career",     isActive:true },
        { title:"Projects", svg:"project",  link:"#projects" },
        { title:"Skills",   svg:"skills",   link:"#skills" },
        { title:"Services", svg:"services", link:"#services" },
        { title:"Contact",  svg:"contact",  link:"#contact" },
    ],
    bottom: [
        { title:"Blog",     link:"https://kushalkumarsaha.com/blogs",   external:true },
        { title:"Home",     link:"https://kushalkumarsaha.com",         external:true },
        { title:"GitHub",   link:"https://github.com/bcd-kushal",       external:true },
    ]
}

---

<aside class="scrollbar-hide">
    <section>
        {sidebarDataLayout.top.map((item) => (
            <SidebarLink title={item.title} svg={item.svg} link={item.link ? item.link : "#"} isActive={item.isActive || false} external={item.external || false} />
        ))}
    </section>
    <section>
        {sidebarDataLayout.bottom.map((item) => (
            <SidebarLink title={item.title} svg={item.svg} link={item.link ? item.link : "#"} isActive={item.isActive || false} external={item.external || false} />
        ))}
    </section>
</aside>


<style lang="scss">
    aside {
        position: sticky;
        top: 0;
        height: 100dvh;
        z-index: 250;
        padding: 16px 0 20px;
        overflow-y: scroll;

        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        background-color: color-mix(in srgb, var(--background-primary-color) 70%, transparent);
        border-right: 1px solid #aaa2;

        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        gap: 68px;

        & section:nth-child(1) {
            display: flex;
            flex-direction: column;
            gap: 0;
            align-items: stretch;
            
            &:nth-child(1) { justify-content: flex-start; }
            &:nth-child(2) { justify-content: flex-end; }
        }

        @media (max-width:640px) {
            display: none;
        }
    }
</style>