---
import { ABOUT_SECTIONS } from "../../../static/constants/sections"

---

<section id={ABOUT_SECTIONS[0].id} class="max-md:px-4 flex max-md:flex-col items-center justify-center md:justify-between max-md:gap-14 min-h-[calc(100dvh_-_46px)] md:min-h-[calc(100dvh_-_56px)]">
    <h2 class="text-4xl md:hidden">Software Developer & Graphic Designer</h2>

    <article class="text-xl md:text-4xl flex items-center justify-start md:max-w-[640px] leading-[1.2]">
        I'm a Tech-Stack Flexible Software Developer with years of experience in building
        UI/UX-centric scalable applications and automations.
        <br><br>
        I specialize in appealing web experience with a strong focus on fastness and customer satisfaction. I
        also love to illustrate elements to make each experience truly unique.
    </article>
</section>