@font-face {
  font-family: "mongoItalic";
  src: url("/woff/mongoItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "cambria";
  src: url("/woff/cambria.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "mongo";
  src: url("/woff/mongo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "code";
  src: url("/woff/code.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "modernOutfit";
  src: url("/woff/modernOutfit.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
