---
import DownloadSVG from "../svgs/DownloadSVG.astro";


---

<a aria-label="cv" href="/public/pdf/CV.Kushal_Kumar_Saha.pdf" target="_blank" download>
    <DownloadSVG />
    Download resume
</a>


<style lang="scss">
a{
    font-size: 18px;
    color: var(--prim-text);
    font-weight: 500;
    transition: .5s;
    text-decoration: none;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;

    &:hover{
        letter-spacing: 1px;
        transition: .5s;
    }
}

</style>
