---
import { ABOUT_SECTIONS as links } from "../static/constants/sections"
---

<nav aria-label="Section Navigation" class="sticky top-14 max-md:hidden h-[calc(100dvh_-_56px)] md:row-span-2 flex items-center justify-start text-white/35 text-sm">
    <ul class="space-y-2 *:transition-all *:duration-300">
        {links.map(({ label, id }) => (
            <li><a aria-label={`${label.toLowerCase()} section`} class="cursor-pointer w-fit pl-2 hover:text-white py-1 pr-4 sidebar-hover transition-all duration-300" id={`${id}_link`} href={`#${id}`}>{ label }</a></li>
        ))}
    </ul>
</nav>

<script>
    const scrollToSection = (targetId:string, center?:boolean) => 
        (document.getElementById(targetId) as HTMLElement)
            .scrollIntoView({
                behavior:"smooth",
                inline: center ? "center" : "start",
                block: center ? "center" : "start",
            })

    const sectionIds            = [ "summary_link", "work_experience_link", "education_link", "projects_link", "skills_link", "get_in_touch_link", "awards_and_recognition_link", "get_in_touch_link_footer" ]
    const sectionsToBeCentred   = [ "summary_link", "work_experience_link" ]

    sectionIds.forEach(id => 
        document.getElementById(id)?.addEventListener( "click", (e) => {
            e.preventDefault()
            scrollToSection(id.split("_link")[0], sectionsToBeCentred.includes(id) ? true : false)
        })
    )
</script>