---
import { ABOUT_SECTIONS } from "../static/constants/sections"
import SectionWrapper from "../components/aboutSection/sectionWrapper/SectionWrapper.astro"
import SummaryWrapper from "../components/aboutSection/summaryWrapper/SummaryWrapper.astro"
import WorkExperience from "../components/aboutSection/_sections/WorkExperience.astro"
import Education from "../components/aboutSection/_sections/Education.astro"
import Projects from "../components/aboutSection/_sections/Projects.astro"
import Skills from "../components/aboutSection/_sections/Skills.astro"
import GetInTouch from "../components/aboutSection/_sections/GetInTouch.astro"
import BrandsWorkedWith from "../components/aboutSection/_sections/BrandsWorkedWith.astro"
import AwardsRecognition from "../components/aboutSection/_sections/AwardsRecognition.astro"

---

<main class="flex flex-col justify-start pb-[100px]">
    <SummaryWrapper />

    {ABOUT_SECTIONS.filter(( _, index ) => index !== 0 ).map(({ label, id }, index) => (
        <SectionWrapper title={label} id={id} noTopPadding={index > 0 ? false : true}>
            { id==="work_experience"        ? <WorkExperience /> :
              id==="education"              ? <Education /> :
              id==="projects"               ? <Projects /> :
              id==="skills"                 ? <Skills /> :
              id==="get_in_touch"           ? <GetInTouch /> :
              id==="brands_i_worked_with"   ? <BrandsWorkedWith /> :
                                              <AwardsRecognition />  
            }
        </SectionWrapper>
    ))}
</main>