---
import { ABOUT_SECTIONS as links } from "../static/constants/sections"
---

<aside class="sticky top-14 max-md:hidden h-[calc(100dvh_-_56px)] md:row-span-2 flex items-center justify-start text-white/35 text-sm">
    <ul class="space-y-2 *:transition-all *:duration-300">
        {links.map(({ label, id }) => (
            <li class="hover:text-white cursor-pointer w-fit py-1 pr-4" id={`${id}_link`}>{ label }</li>
        ))}
    </ul>
</aside>

<script>
    const scrollToSection = (targetId:string, center?:boolean) => 
        (document.getElementById(targetId) as HTMLElement)
            .scrollIntoView({
                behavior:"smooth",
                inline: center ? "center" : "start",
                block: center ? "center" : "start",
            })

    const sectionIds            = [ "summary_link", "work_experience_link", "education_link", "projects_link", "skills_link", "get_in_touch_link", "awards_and_recognition_link" ]
    const sectionsToBeCentred   = [ "summary_link", "work_experience_link" ]

    sectionIds.forEach(id => 
        document.getElementById(id)?.addEventListener( "click", () => scrollToSection(id.split("_link")[0], sectionsToBeCentred.includes(id) ? true : false) )
    )
</script>