---
import type { PageType } from "../static/types/types"
import Template from "../layouts/Template.astro"
import About from "../layouts/About.astro"
import AboutThumbnails from "../layouts/AboutThumbnails.astro"
import AboutHero from "../components/aboutSection/hero/AboutHero.astro"
import Footer from "../components/aboutSection/footer/Footer.astro"
import AnimateOnScroll from "../components/_scripts/AnimateOnScroll.astro"

const activeTab: PageType["active"] = "about"
---

<Template active={activeTab}>
    <AboutHero />
    <section id="details" class="relative left-1/2 -translate-x-1/2 w-[100dvw] max-w-[1250px] grid grid-cols-1 md:grid-cols-[250px_1fr] gap-x-[100px]">
        <AboutThumbnails />
        <About />
        <Footer />
    </section>
</Template>

<!-- scripts ----------------------->
<AnimateOnScroll />

<style is:global>
    .slide-up { animation: slideUp .75s forwards; }
    .slide-up-hero { animation: slideUpHero .75s forwards; }

    .active-sidebar { 
        position: relative;
        color: #fff;
    }
    .active-sidebar::before {
        content: '•';
        color: "#fff";
        position: absolute;
        top: 50%;
        left: -8px;
        transform: translateY(-50%);
    }

    @keyframes slideUp {
        from { transform: translateY(70px);  }
        to   { transform: translateY(0px); }
    }
    
    @keyframes slideUpHero {
        from { transform: translate(-50%,70px);  }
        to   { transform: translate(-50%,0px); }
    }
</style>