---
import Template from "../layouts/Template.astro"

---

<Template active="work">
    <div class="min-h-[200dvh]">Projects here</div>
</Template>

<style is:global>
    ::-webkit-scrollbar {
        display: none;
    }
</style>