---
type AwardsType = { title: string, date: string, issuer: string, reason: string, link?: string }
const workExperiences: AwardsType[] = [
    { title: "Top UI/UX Excellence Honor", issuer: "Giftlaya", date: "Jun 2024", reason: "", link: "" },
    { title: "Intern of the Month", issuer: "MakeIndias", date: "Feb 2024", reason: "", link: "" },
    { title: "Rookie of the Year", issuer: "PHICSIT", date: "Aug 2023", reason: "", link: "" },
    { title: "1st Place: Eureka", issuer: "St Xavier's (Data Sc. Department)", date: "Feb 2023", reason: "", link: "" },
    { title: "Finalist: eXabyte", issuer: "St Xavier's (CS Department)", date: "Dec 2022", reason: "", link: "" },
    { title: "1st Place: ISC Boards", issuer: "Salt Lake Point School", date: "2018", reason: "", link: "" },
    { title: "Student of the Year", issuer: "Future Aim", date: "2015 - 2018", reason: "", link: "" },
]
---

<div class="grid grid-cols-1 md:grid-rows-4 md:grid-cols-2 gap-x-14 gap-y-12 md:gap-y-7 md:grid-flow-col items-start justify-start">
    { workExperiences.map(({ title, issuer, date }) => (
        <div>
            <h3 class="text-2xl">{title}</h3>
            <div class="text-white/30 text-lg w-full">{issuer}</div>
            <div class="text-white/30 text-lg w-full">{date}</div>
        </div>
    ))}
</div>