---
const brandsWorkedWith: string[] = [ "Microsoft", "NVIDIA", "Netflix", "Giftlaya" ] 
---

<div class="flex flex-col text-white/50 text-lg space-y-1">
    { brandsWorkedWith.map(brand => <span>{brand}</span>)}
</div>