---
import { Image } from "astro:assets"
---

<div class="grid max-sm:grid-rows-[repeat(5,auto)] max-sm:max-w-[450px] max-sm:*:aspect-[2.8/1] sm:grid-cols-[repeat(5,minmax(auto,200px))] sm:h-[70dvh] gap-x-2 gap-y-4">
    <div class="overflow-hidden grid *:row-start-1 *:col-start-1 relative">
        <div class="overflow-hidden"><Image src="https://www.fnp.com/images/pr/l/v20221214202702/chocolaty-truffle-cake-half-kg-eggless_1.jpg" alt="" width={800} height={800} class="w-full h-full object-cover object-center" decoding={"async"} loading={"lazy"} /></div>
        <div class="z-20 grid place-items-center font-thin text-4xl md:text-2xl md:hidden">Giftlaya</div>
    </div>
    <div class="overflow-hidden grid *:row-start-1 *:col-start-1 relative">
        <div class="overflow-hidden"><Image src="https://images.unsplash.com/photo-1698612059679-89b1cb7755ee" alt="" width={800} height={800} class="w-full h-full object-cover object-center" decoding={"async"} loading={"lazy"} /></div>
        <div class="z-20 grid place-items-center font-thin text-4xl md:text-2xl md:hidden">Timax</div>
    </div>
    <div class="overflow-hidden grid *:row-start-1 *:col-start-1 relative">
        <div class="overflow-hidden"><Image src="https://plus.unsplash.com/premium_photo-1710503744805-775054f37736" alt="" width={800} height={800} class="w-full h-full object-cover object-center" decoding={"async"} loading={"lazy"} /></div>
        <div class="z-20 grid place-items-center font-thin text-4xl md:text-2xl md:hidden">Balloondekor</div>
    </div>
    <div class="overflow-hidden grid *:row-start-1 *:col-start-1 relative">
        <div class="overflow-hidden"><Image src="https://images.unsplash.com/photo-1671726203454-5d7a5370a9f4" alt="" width={800} height={800} class="w-full h-full object-cover object-center" decoding={"async"} loading={"lazy"} /></div>
        <div class="z-20 grid place-items-center font-thin text-4xl md:text-2xl md:hidden">Ed.Line</div>
    </div>
    <div class="overflow-hidden grid *:row-start-1 *:col-start-1 relative">
        <div class="z-20 flex md:flex-col md:gap-1 items-center justify-center font-thin text-4xl md:text-2xl">
            <span class="max-md:hidden">See All</span>
            <span class="md:hidden">All Projects</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
        </div>
    </div>
</div>