---
import Template from "../../layouts/Template.astro"
import type { GetStaticPaths } from "astro"
import { toSlug } from "../../utils/toSlug"
import { BLOG_TITLES } from "../../static/constants/blogTitles"
import type { PageType } from "../../static/types/types"


type StaticPropType = { params: { slug: string } }

export const getStaticPaths = (async () => {
    const staticPaths: StaticPropType[] = BLOG_TITLES.map(title => ({ params: { slug: toSlug(title) } } ))
    return staticPaths
}) satisfies GetStaticPaths

const { slug } = Astro.params
const activeTab: PageType["active"] = "blog-article"
---

<Template active={activeTab} blogArticle={slug} >
    <div>Blog: {slug}</div>
</Template>

<!-- scripts ----------------------->
