---
import type { PageType } from "../../static/types/types"
import Template from "../../layouts/Template.astro"

const activeTab: PageType["active"] = "blog"
---

<Template active={activeTab}>
    <div class="min-h-[200dvh]">Blogs here</div>
</Template>

<!-- scripts ----------------------->
